body {
  background-color: #000000;
  color: #fff;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0;
  scroll-behavior: smooth;
}
#siteHeader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
  display: none;
}
#home {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(230, 214, 214);
}

button {
  font-size: 2rem;
  padding: 15px 30px;
  background-color: #b14b37;
  color: #fff;
  border: none;
  cursor: pointer;
}
button:hover {
  background-color: #0e0508;
}
main {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  display: none;
}
section {
  background-color: #862525;
  margin: 0;
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  font-size: 5rem;
  scroll-snap-align: start;
}
section:nth-child(2n) {
  background-color: white;
}
#one {
  background-image: url("images/childhood.jpg");
  background-size: cover;
  color: #f6c3b8;
  font-size: 5rem;
}
#two {
  background-image: url("images/cartoons 3.jpg");
  background-size: cover;
  color: #e1816b;
}
#three {
  background-image: url("images/nostalgia.jpg");
  background-size: cover;
  color: rgba(233, 196, 152, 0.856);
}
#four {
  background-image: url("images/morings.jpg");
  background-size: cover;
  color: #cc446a;
}
#five {
  background-image: url("images/cereal (2).jpg");
  background-size: cover;
  color: #6b929c;
}
#six {
  background-image: url("images/weekends.jpg");
  background-size: cover;
  color: #1b2224;
}
#seven {
  background-image: url("images/b_w.jpg");
  background-size: cover;
  background-position: center;
  color: rgb(189, 179, 189);
}
